body {
	background-color: #232323;
	margin: 0;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%; 
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
}

#stripe {
	background-color: white;
	text-align: center;
	height: 30px;
}

.selected {
	background-color: blue;
}